<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link href="./index.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
    <body>  
        <div class="header"> 
            <div id="header_item"> 
                <a href="/new">New Note<a>
            </div>
        </div>
        <div class="main"> 
            <% @bookmarks.each do |bookmark| %>   
                <div class="main_item"> 
                    <p><%= bookmark.title %><p> 
                    <p><%= bookmark.url %></p>   
                    
                    <form action="/bookmarks/<%= bookmark.id %>/edit" id="edit" method="get">  
                        <input  type="submit" value="Edit"> 
                    </form> 

                    <form id="delete" action="/bookmarks/<%= bookmark.id %>" method="post">  
                        <input type="hidden" name="_method" value="DELETE" /> 
                        <input type="submit" value="Delete" />
                    </form> 
                </div>
            <% end %>  
        </div>
    </body>
</html> 

<%# Walkthrough – CRUD  %>

